MRCP_PROJECT_ROOT=/opt/mrcp-dashboard
MRCP_DOCS_DIR=/opt/mrcp-dashboard/docs
MRCP_DATA_FILE=/opt/mrcp-dashboard/docs/data_v2.json

MRCP_ADMIN_API_PORT=5055
MRCP_ADMIN_API_HOST=0.0.0.0
MRCP_ADMIN_TOKEN=change-moi

MRCP_LIVE_HOST=0.0.0.0
MRCP_LIVE_PORT=5056
MRCP_LIVE_CORS_ORIGINS=*
